.toolbar {
  background: none;
  box-shadow: none;
  padding: 0;
}

.tabs {
  min-height: 40px;
}

.tab {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: none;
  color: rgba(255, 255, 255, 0.9) !important; /* Slightly translucent white */
  min-width: 120px;
  padding: 6px 12px;
  transition: font-weight 0.3s, color 0.3s;
}

.tab:hover {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400; /* Make text bold on hover */
  opacity: 1;
}

.tab.Mui-selected {
  color: white; /* Full opacity when selected */
  font-weight: 700;
  opacity: 1;
}

.MuiTabs-indicator {
  background-color: white;
  height: 2px;
  bottom: 2px;
}