@keyframes toolbarAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.toolbar {
  background: linear-gradient(45deg, #34495e 30%, #4f75a6 90%);
  background-size: 200% 200%;
  animation: toolbarAnimation 15s ease infinite;
}

.floating-toolbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1000;
}

.toolbar .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}