html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

body {
  background: linear-gradient(120deg, #34495e, #3c3e4b, #34495e);
  background-size: 200% 200%;
  animation: gradientAnimation 30s ease infinite;
  overflow: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.scroll-container {
  height: calc(100vh - 64px); /* Adjust based on your toolbar height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.scroll-container::-webkit-scrollbar {
  width: 12px;
}

.scroll-container::-webkit-scrollbar-track {
  background: linear-gradient(120deg, #34495e, #3c3e4b, #34495e);
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #678aad 30%, #568ed6 90%);
  background-size: 200% 200%;
  animation: gradientAnimation 30s ease infinite;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #9d9e9e 30%, #7ba6d2 90%);
  background-size: 200% 200%;
  animation: gradientAnimation 30s ease infinite;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}